{% extends 'base.html' %}

{% block content %}
<h1>About SpotOn</h1>
<p>SpotOn is a music recommendation platform that helps you discover new songs based on your Spotify listening history. Our goal is to provide you with a unique and engaging experience, combining the best song recommendation system with interactive features and a visually appealing design.</p>
<p>Created by music enthusiasts, SpotOn aims to bring you closer to the music you love and introduce you to new favorites.</p>
{% endblock %}
